<%= simple_form_for(@semester, html: {class: "form-horizontal"}) do |f| %>
  <% if @semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@semester.errors.count, "error") %> prohibited this semester from being saved:</h2>

      <ul>
      <% @semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, autofocus: true, label: false, placeholder: "Nome", class: "form-control" %>
  </div>

  <%= f.hidden_field :course_id %>

  <div class="form-group">
    <%= f.submit "Concluir", :class => "btn btn-primary" %>
  </div>
<% end %>
