<%= simple_form_for(@course, html: {class: "form-horizontal"}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, autofocus: true, label: false, placeholder: "Nome", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, required: true, autofocus: true, label: false, placeholder: "Descrição", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>

  <%= f.hidden_field :department_id %>

  <div class="actions">
    <%= f.submit "Concluir", :class => "btn btn-primary" %>
  </div>
<% end %>
